<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict/>
	<key>appleId</key>
	<string>717449180@qq.com</string>
	<key>artistId</key>
	<integer>1086893198</integer>
	<key>artistName</key>
	<string>Beijing Mai Lok Purchase Technology Co., Ltd.</string>
	<key>bundleDisplayName</key>
	<string>麦乐购</string>
	<key>bundleShortVersionString</key>
	<string>2.5.1</string>
	<key>bundleVersion</key>
	<string>2.5.1</string>
	<key>copyright</key>
	<string>© 2006 - 2015 gou.com</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>购物</string>
	<key>genreId</key>
	<integer>6024</integer>
	<key>itemId</key>
	<integer>681580740</integer>
	<key>itemName</key>
	<string>麦乐购-进口母婴特卖正品商城，辣妈育儿亲子全球精品购物</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Beijing Mai Lok Purchase Technology Co., Ltd.</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<string>2016-02-28T02:49:44Z</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>无限制网页访问 , 偶尔/轻度医药/医疗信息 and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2013-08-15T04:48:29Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a312.phobos.apple.com/us/r30/Purple20/v4/40/5a/59/405a5968-018f-2b51-59b6-11b13bef2e37/icon114x114.jpeg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.m6go.mainaifen</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>817149580</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>15972032</integer>
		<integer>16186651</integer>
		<integer>16461460</integer>
		<integer>127582631</integer>
		<integer>190642650</integer>
		<integer>552333163</integer>
		<integer>590692707</integer>
		<integer>667093258</integer>
		<integer>715562714</integer>
		<integer>782792677</integer>
		<integer>810818475</integer>
		<integer>811458935</integer>
		<integer>811608482</integer>
		<integer>811684767</integer>
		<integer>811963691</integer>
		<integer>812232888</integer>
		<integer>812567202</integer>
		<integer>813056534</integer>
		<integer>813241931</integer>
		<integer>813864149</integer>
		<integer>814001592</integer>
		<integer>813835740</integer>
		<integer>814272023</integer>
		<integer>814312508</integer>
		<integer>814486959</integer>
		<integer>815207261</integer>
		<integer>815370182</integer>
		<integer>815199383</integer>
		<integer>815349202</integer>
		<integer>816090094</integer>
		<integer>816108680</integer>
		<integer>816100165</integer>
		<integer>816586976</integer>
		<integer>817149580</integer>
	</array>
	<key>storeCohort</key>
	<string>3|date=1456626600000&amp;sf=143465</string>
	<key>vendorId</key>
	<integer>118087283</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
